POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram

DB_HOST=db
DB_PORT=5432

# Для docker-compose.production.yml (имена образов на Docker Hub)
DOCKER_USERNAME=your_dockerhub_username

# Для продакшена: домен(ы) через запятую
ALLOWED_HOSTS=127.0.0.1,localhost